hr {
  margin: 0;
}

.rodape {
  background-color: var(--branco-principal);
  padding: 1em 1em;
  display: flex;
  margin: 1em;
  justify-content: space-between;
}

.lista_rodape {
    display: none;
  }
  
@media screen and (min-width: 1024px) {

.rodape {
    display: flex;
    justify-content: space-around;
  }

.lista_rodape {
  display: block;
}
  
.rodape_titulo {
  color: var(--preto);
  font-size: 24px;
  font-weight: 400;
}

.rodape_titulo_lista {   
  color: var(--cinza-medio);
  font-size: 14px;
}

.lista_rodape_link {
  color: var(--cinza-escura);
  text-decoration: none;
  margin-left: 0.6em;
}

.rodape_titulo_lista ,
.rodape_item{
  display: flex;
  align-items: center;
  margin: 0.6em 0;
}
  
}

@media screen and (min-width: 1728px) {
  
  .lista_rodape {
    border-left: 1px solid var(--cinza-claro);
    padding-left: 1em;
  }

  .rodape {
    padding: 3em 0;
  }


  
}