.cabecalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../_imagens_alura_mobile/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco-principal);
    display: flex;
    justify-content: space-between ;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container_imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container_botao:checked~.lista-menu {
    display: block
}

.lista-menu_titulo, 
.lista-menu_item {
    padding: 1em;
    background-color: var(--branco-principal);
}

.lista-menu_titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu_link {
    color: var(--azul-principal);
    -webkit-background-clip: text;
    text-decoration: none;
    background-clip: text;
    text-transform: uppercase;
    
}

.container_botao {
    display: none;
}