.topicos {
    background: var(--azul-degrade);
    color: var(--branco-principal);
    text-align: center;
    padding: 2.5em 2em;
}

.topicos_titulo {
    font-size: 16px;
    font-weight: 400;
    padding: 1em;
}

.topicos_lista {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
}

.topicos_item {
    background: var(--laranja);
    color: var(--branco-principal);
    padding: 1em;
}